* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.header {
  background-color: #333;
  padding: 0px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.logo h1 {
  color: #fff;
  font-size: 24px;
}

.navbar {
  display: flex;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  margin-left: 20px;
}

.nav-list li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.nav-list li a:hover {
  color: #ff5722;
}

.cta .btn {
  padding: 10px 20px;
  background-color: #ff5722;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.cta .btn:hover {
  background-color: #ff784e;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .navbar {
    margin-top: 20px;
  }

  .nav-list {
    flex-direction: column;
  }

  .nav-list li {
    margin: 10px 0;
  }

  .cta {
    margin-top: 20px;
  }
}
